:root {
  /* ### Primary */

  --color-moderateCyan: hsl(176, 50%, 47%);
  --moderateCyan-hue: 176;
  --moderateCyan-sat: 50%;
  --moderateCyan-lite: 47%;

  --color-darkCyan: hsl(176, 72%, 28%);
  --darkCyan-hue: 176;
  --darkCyan-sat: 72%;
  --darkCyan-lite: 28%;

  /* ### Neutral */

  --color-black: hsl(0, 0%, 0%);
  --black-hue: 0;
  --black-sat: 0%;
  --black-lite: 0%;

  --color-darkGray: hsl(0, 0%, 48%);
  --darkGray-hue: 0;
  --darkGray-sat: 0%;
  --darkGray-lite: 48%;

  --fontSize: 16px;

  --fontSize-x-8-small: calc(var(--fontSize) * 0.8);
  --fontSize-x-75-small: calc(var(--fontSize) * 0.75);
  --fontSize-x-7-small: calc(var(--fontSize) * 0.7);
  --fontSize-x-6-small: calc(var(--fontSize) * 0.6);
  --fontSize-x-5-small: calc(var(--fontSize) * 0.5);

  --fontSize-medium: var(--fontSize);
  --fontSize-x2-large: calc(var(--fontSize) * 1.2);
  --fontSize-x4-large: calc(var(--fontSize) * 1.4);
  --fontSize-x5-large: calc(var(--fontSize) * 1.5);
  --fontSize-x6-large: calc(var(--fontSize) * 1.6);
  --fontSize-x8-large: calc(var(--fontSize) * 1.8);
  --fontSize-2x-large: calc(var(--fontSize) * 2);

  --fontWeight-light: 400;
  --fontWeight-medium: 500;
  --fontWeight-bold: 700;

  --borderRadius: 6px;

  font-size: 16px;
}

* {
  font-size: 16px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Commissioner", sans-serif;
}

body {
  background-color: rgba(100, 100, 100, 0.05);
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

.wrapper {
  background-color: rgba(0, 0, 0, 0.05);
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  padding-bottom: 10rem;
}

/* ///////////////////////////////////////////////////////////////// */
/* Header/////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////// */

header {
  height: 45vh;
  background-image: url(./images/image-hero-desktop.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2em 8rem 0rem 10rem;
}

nav {
  display: flex;
  justify-content: space-between;
  color: white;
}

.nav-menu {
  display: flex;
  list-style-type: none;
}

.nav-menu li {
  cursor: pointer;
}

.nav-menu li + li {
  margin-left: 3rem;
}

/* ///////////////////////////////////////////////////////////////// */
/* Main///////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////// */

.section {
  border-radius: var(--borderRadius);
  background-color: white;
  border: 1px solid
    hsl(var(--darkGray-hue), var(--darkGray-sat), var(--darkGray-lite), 0.25);
  padding: 2rem;
}

.section h1,
.section h2,
.section h3 {
  font-weight: var(--fontWeight-bold);
  color: var(--color-black);
}

.section h3 {
  color: var(--color-darkCyan);
  font-weight: var(--fontWeight-medium);
}

.section p {
  color: var(--color-darkGray);
  font-size: var(--fontSize-medium);
  font-weight: var(--fontWeight-light);
}

main {
  width: 35vw;
  margin: 0 auto;
  margin-top: -5rem;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem 2rem 2rem;
}

.title h1 {
  font-size: var(--fontSize-x8-large);
}

.title p {
  margin: 1rem;
}

.button-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 1rem;
}

.btn {
  background-color: var(--color-moderateCyan);
  color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 50px;
  font-size: var(--fontSize-medium);
  font-weight: var(--fontWeight-bold);
  cursor: pointer;
}

.btn-secondary {
  background-color: rgba(0, 0, 0, 0.1);
  padding-left: 4rem;
  display: flex;
  position: relative;
  color: var(--color-darkGray);
}

.btn-secondary i {
  position: absolute;
  left: 0;
  top: 0%;
  bottom: 0%;
  /* height: ; */
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.25rem;
  border-radius: 50%;
  background-color: var(--color-black);
}

.back-the-product {
  border-radius: var(--borderRadius);
  margin: 1rem 0;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 2rem;
  flex-direction: column;
}

.backers {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.backers-sec {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.backers-total {
  border-right: 1px solid var(--color-darkGray);
  border-left: 1px solid var(--color-darkGray);
}

.backers-text h2 {
  font-size: var(--fontSize-2x-large);
  font-weight: var(--fontWeight-bold);
}

.backers-text p {
  font-size: var(--fontSize-medium);
  font-weight: var(--fontWeight-light);
  margin-top: 0.5rem;
  color: var(--color-darkGray);
}

.backers-percent {
  margin: 2rem 0;
  width: 90%;
  height: 1rem;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.backers-percent::after {
  width: 80%;
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  background-color: var(--color-moderateCyan);
  border-radius: 50px;
}


.about-product p {
  line-height: 1.75;
}

.pkg {
  margin-top: 2rem;
}

.pkg-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.pkg-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pkg-left div {
  font-weight: var(--fontWeight-bold);
  font-size: var(--fontSize-x5-large);
}

.pkg-left div span {
  color: var(--color-darkGray);
  font-size: var(--fontSize-medium);
  font-weight: var(--fontWeight-medium);
}

.pkg .btn {
  padding: 0.75rem 1.5rem;
  font-weight: var(--fontWeight-medium);
}

.special-pkg {
  opacity: 0.5;
}

.btn-third {
  background-color: var(--color-darkGray);
}

/* ///////////////////////////////////////////////////////////////// */
/* Footer/////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////// */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
