:root {
  /* ### Primary */

  --color-moderateCyan: hsl(176, 50%, 47%);
  --moderateCyan-hue: 176;
  --moderateCyan-sat: 50%;
  --moderateCyan-lite: 47%;

  --color-darkCyan: hsl(176, 72%, 28%);
  --darkCyan-hue: 176;
  --darkCyan-sat: 72%;
  --darkCyan-lite: 28%;

  /* ### Neutral */

  --color-black: hsl(0, 0%, 0%);
  --black-hue: 0;
  --black-sat: 0%;
  --black-lite: 0%;

  --color-darkGray: hsl(0, 0%, 48%);
  --darkGray-hue: 0;
  --darkGray-sat: 0%;
  --darkGray-lite: 48%;

  --fontSize: 16px;

  --fontSize-x-8-small: calc(var(--fontSize) * 0.8);
  --fontSize-x-75-small: calc(var(--fontSize) * 0.75);
  --fontSize-x-7-small: calc(var(--fontSize) * 0.7);
  --fontSize-x-6-small: calc(var(--fontSize) * 0.6);
  --fontSize-x-5-small: calc(var(--fontSize) * 0.5);

  --fontSize-medium: var(--fontSize);
  --fontSize-x2-large: calc(var(--fontSize) * 1.2);
  --fontSize-x4-large: calc(var(--fontSize) * 1.4);
  --fontSize-x5-large: calc(var(--fontSize) * 1.5);
  --fontSize-x6-large: calc(var(--fontSize) * 1.6);
  --fontSize-x8-large: calc(var(--fontSize) * 1.8);
  --fontSize-2x-large: calc(var(--fontSize) * 2);

  --fontWeight-light: 400;
  --fontWeight-medium: 500;
  --fontWeight-bold: 700;

  --borderRadius: 6px;

  font-size: 16px;
}

* {
  font-size: 16px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Commissioner", sans-serif;
}

body {
  background-color: rgba(100, 100, 100, 0.05);
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

.wrapper {
  background-color: rgba(0, 0, 0, 0.05);
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  padding-bottom: 10rem;
}

/* ///////////////////////////////////////////////////////////////// */
/* Header/////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////// */

header {
  height: 45vh;
  background-image: url(./images/image-hero-desktop.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2em 8rem 0rem 10rem;
}

nav {
  display: flex;
  justify-content: space-between;
  color: white;
}

.nav-menu {
  display: flex;
  list-style-type: none;
}

.nav-menu li {
  cursor: pointer;
}

.nav-menu li:hover {
  text-decoration: underline rgba(255, 255, 255, 0.5);
}

.nav-menu li + li {
  margin-left: 3rem;
}

.nav-bar {
  display: none;
}

/* ///////////////////////////////////////////////////////////////// */
/* Main///////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////// */

.section {
  border-radius: var(--borderRadius);
  background-color: white;
  border: 1px solid
    hsl(var(--darkGray-hue), var(--darkGray-sat), var(--darkGray-lite), 0.25);
  padding: 2rem;
}

.section h1,
.section h2,
.section h3 {
  font-weight: var(--fontWeight-bold);
  color: var(--color-black);
}

.section h3 {
  color: var(--color-moderateCyan);
  font-weight: var(--fontWeight-medium);
}

.section p {
  color: var(--color-darkGray);
  font-size: var(--fontSize-medium);
  font-weight: var(--fontWeight-light);
}

main {
  width: 35vw;
  margin: 0 auto;
  margin-top: -5rem;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem 2rem 2rem;
  position: relative;
}

.title-img {
  position: absolute;
  top: 0;
  margin-top: -2rem;
}

.title h1 {
  text-align: center;
  font-size: var(--fontSize-x8-large);
}

.title p {
  margin: 1rem 0;
  text-align: center;
}

.button-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 1rem;
}

.btn {
  background-color: var(--color-moderateCyan);
  color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 50px;
  font-size: var(--fontSize-medium);
  font-weight: var(--fontWeight-bold);
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.bookmarked {
  color: var(--color-darkCyan) !important;
  background-color: hsl(0, 0%, 0%, 0.025) !important;
}

.bookmarked i {
  color: white !important;
  background-color: var(--color-darkCyan) !important;
}

.btn:hover {
  background-color: var(--color-darkCyan);
}

.btn-secondary {
  background-color: rgba(0, 0, 0, 0.1);
  padding-left: 4rem;
  display: flex;
  position: relative;
  color: var(--color-darkGray);
}

.btn-secondary:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.btn-secondary i {
  transition: all 250ms ease-in-out;
  position: absolute;
  left: 0;
  top: 0%;
  bottom: 0%;
  /* height: ; */
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.25rem;
  border-radius: 50%;
  background-color: var(--color-black);
}

.btn-secondary:hover i {
  --darkGray-lite: 75%;
  background-color: var(--color-darkGray);
  color: hsl(var(--darkGray-hue), var(--darkGray-sat), var(--darkGray-lite));
}

.back-the-product {
  border-radius: var(--borderRadius);
  margin: 1rem 0;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 2rem;
  flex-direction: column;
}

.backers {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.backers-sec {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.backers-total {
  border-right: 1px solid var(--color-darkGray);
  border-left: 1px solid var(--color-darkGray);
}

.backers-text h2 {
  font-size: var(--fontSize-2x-large);
  font-weight: var(--fontWeight-bold);
}

.backers-text p {
  font-size: var(--fontSize-medium);
  font-weight: var(--fontWeight-light);
  margin-top: 0.5rem;
  color: var(--color-darkGray);
}

.backers-percent {
  margin: 2rem 0;
  width: 90%;
  height: 1rem;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.backers-percent::after {
  width: 80%;
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  background-color: var(--color-moderateCyan);
  border-radius: 50px;
}

.about-product p {
  line-height: 1.75;
}

.about-title h1 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-weight: var(--fontWeight-bold);
  font-size: var(--fontSize-x2-large);
}

.about-title p {
  margin-bottom: 2rem;
}

.pkg {
  margin-top: 2rem;
}

.pkg-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.pkg-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pkg-left div {
  font-weight: var(--fontWeight-bold);
  font-size: var(--fontSize-x5-large);
}

.pkg-left div span {
  color: var(--color-darkGray);
  font-size: var(--fontSize-medium);
  font-weight: var(--fontWeight-medium);
}

.pkg .btn {
  padding: 0.75rem 1.5rem;
  font-weight: var(--fontWeight-medium);
}

.special-pkg {
  opacity: 0.5;
}

.btn-third {
  background-color: var(--color-darkGray);
}

.btn-third:hover {
  background-color: var(--color-darkGray);
}

/* ///////////////////////////////////////////////////////////////// */
/* Modal//////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////// */

.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: hsl(
        var(--black-hue),
        var(--black-sat),
        var(--black-lite),
        0.25
      );
  display: none;
  align-items: center;
  justify-content: center;
}

.modal-section {
    width: 50%;
    height: auto;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border-radius: var(--borderRadius);
}

.modal-img {
    margin: 2rem;
}

.modal-section h1 {
    font-size: var(--fontSize-x5-large);
}

.modal-section p {
    margin: 1rem;
    line-height: 2;
    color: var(--color-darkGray);
}

.modal-section .btn {
    margin-bottom: 2rem;
}

/* ///////////////////////////////////////////////////////////////// */
/* Footer/////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////// */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* ///////////////////////////////////////////////////////////////// */
/* Media Queries//////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////// */

@media (max-width: 1450px) {
  main {
    width: 40vw;
  }
}

@media (max-width: 1250px) {
  main {
    width: 50vw;
  }
}

@media (max-width: 1250px) {
  main {
    width: 60vw;
  }
}

@media (max-width: 750px) {
  main {
    width: 90vw;
  }

  header {
    background-image: url(./images/image-hero-mobile.jpg);
    padding: 1rem 0 0 0;
  }

  nav {
    width: 90%;
    margin: 0 auto;
  }

  .crowdfund-logo {
    z-index: 20;
  }

  .nav-menu {
    display: none;
    background-color: white;
    color: var(--color-black);
    font-weight: var(--fontWeight-bold);
    flex-direction: column;
    position: absolute;
    top: 10%;
    left: 5%;
    right: 5%;
    border-radius: var(--borderRadius);
    z-index: 20;
    border: 1px solid
      hsl(var(--darkGray-hue), var(--darkGray-sat), var(--darkGray-lite), 0.2);
  }

  .mobile-blackout {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: hsl(
      var(--black-hue),
      var(--black-sat),
      var(--black-lite),
      0.25
    );
    z-index: 10;
  }

  .nav-menu li {
    margin: 0.5rem 0;
    padding: 1rem 0 1rem 2rem;
  }

  .nav-menu li + li {
    margin-left: 0;
    border-top: 1px solid
      hsl(var(--darkGray-hue), var(--darkGray-sat), var(--darkGray-lite), 0.2);
  }

  .nav-bar {
    display: flex;
    position: fixed;
    right: 5%;
    z-index: 20;
  }

  .nav-bar i {
    font-size: var(--fontSize-2x-large);
    z-index: 10;
  }

  .btn-secondary {
    padding: 0;
    height: fit-content;
    width: fit-content;
  }

  .btn-secondary i {
    padding: 1rem 1.15rem;
    position: inherit;
  }

  .bookmark-text {
    display: none;
  }

  .btn-primary {
    width: 100%;
    margin-right: 1rem;
  }

  .backers {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .backers-total {
    border-right: none;
    border-left: none;
    border-bottom: 1px solid var(--color-darkGray);
    border-top: 1px solid var(--color-darkGray);
    margin: 1rem 0;
    padding: 1rem 0;
  }

  .backers-sec {
    width: fit-content;
  }

  .about-title h1 {
    margin-bottom: 0;
  }

  .pkg-title {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
  }

  .pkg-title h3 {
    margin: 0.5rem 0;
  }

  .about-product p {
    margin: 0.5rem 0;
  }

  .pkg-left {
    flex-direction: column;
    align-items: flex-start;
  }

  .pkg-left div {
    margin: 1rem 0;
  }

  .pkg button {
    margin-top: 1rem;
  }
}
